body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  min-height: 100vh;
 }
   
 .container {
   padding: 30px;
   border-radius: 16px;
   background: rgba(255, 255, 255, 0.05);
   width: 100%;
   max-width: 400px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

 }
   
 h1 {
   text-align: center;
   font-size: 26px;
   color: rgb(178, 83, 205);
 }



 .input-container{
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 20px;
 }

 #bookmark-inputs{
    display: flex;
    gap: 10px;
 }

 #bookmark-inputs input{
  border: none;
  border-radius: 12px;
  padding: 10px ;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  color: #e0e0e0;

 }

 #bookmark-inputs input::placeholder{
  color: #a0a0a0;
 }
    
 #add-bookmark-btn{
  border: none;
  border-radius: 16px;
  padding: 12px;
  font-size: 18px;
  background-color: #5a189a;
  color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.4s;
 }
 
 #add-bookmark-btn:hover{
  background-color: #602998;
 }

   
 #bookmark-list {
  list-style-type: none;
  padding: 0;
 }
   
 #bookmark-list li {
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
   
 button.favorite-btn {
   padding: 5px 10px;
 }

 button {
  background-color: #c9184a;
  color: #e0e0e0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
 }

 button:hover {
   background-color: #c24065;
 }
   
 button.delete-btn {
    background-color: #c9184a;
    color: #e0e0e0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
 }
   